p,h5{
    margin: 0;
    padding: 0;
}
header{
    width:700px;
    height: 70px;
    background-color: #b0d1af;
}
nav{
    float: left;
    width:700px;
    height:45px;
    background-color: #68be64;
}
#sidebar{
    float: left;
    width: 150px;
    height: 400px;
    background-color:#5a92d7;
}
#content{
    float: left;
    width:400px;
    height:400px;
    background-color:#96b4d9;
}
aside{
    float: left;
    width:150px;
    height: 400px;
    background-color: #5a92d7;
}
footer{
    clear:left;
    height:45px;
    width:700px;
    background-color: #b0d1af;
}
.text_head{
    padding-top: 25px;
    padding-bottom: 0px;
    padding-left:10px;
    font-size:20px; 
    font-weight: bold;
    color:white;
}
.text_nav{
    margin-top:0px;
    padding-top:10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color:white;
}
article{
    clear: both;
}
.sidebar_text{
    margin-top:0px;
    padding-top:27px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    margin-bottom:40px;
}
.sidebar_info {
  
    padding-left: 5px;
    color:white;
    text-decoration: underline;
    font-weight: bold;
}
.content_text{
    padding-top:30px;
    padding-left:30px;
    font-size: 20px;
    font-weight: bold;
    color:white;
}
.content_title_1{
   margin-top:85px;
   color:white;
   text-decoration: underline;
   padding-left: 30px;
   font-weight: bold;
}
.content_title_2{
    margin-top:25px;
    color:white;
    text-decoration: underline;
    padding-left: 30px;
    font-weight: bold;
 }
 .content_title_3{
    margin-top:25px;
    color:white;
    text-decoration: underline;
    padding-left: 30px;
    font-weight: bold;
 }
.p1 , .p2 , .p3{
    color:white;
    padding-left: 30px;
    font-weight: bold;
}
.aside_text{
    color:white;
    font-weight: bold;
    padding-top:30px;
    padding-left:20px;
    margin-bottom: 85px;
}
.aside_title{
    color:white;
    padding-left:20px;
    font-weight: bold;
}
.aside_tabl{
    color:white;
    text-decoration: underline;
    padding-left:20px;
    font-weight: bold;
}
.text_foot{
    color:white;
    font-weight: bold;
    padding-top: 10px;
    padding-left:10px;
    font-size:20px; 
}