@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');
$main-font:'Open Sans', sans-serif;
$main-text_color:white;
$button-color:#25365d;

@mixin button_style {
    
    border:1px solid $button-color;
    background-color: $button-color;
    color:$main-text_color;
    font-family: $main-font;
    font-size: 22px;
    padding:20px 50px 20px 50px;
    border-radius:50px;
}
.container{
    width:100%;
    max-width: 2000px;
    height: 5690px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/Enyo_template/img/background.png);
}
p,h1{
    margin: 0;
}
header{
    font-family: $main-font;
        .m-header-top_menu{
            display: flex;
            justify-content: space-around;
            align-items: baseline;
        
            .head-logo{
                margin-top: 30px;
            }
            li{
                display: inline-block;
                list-style-type: none;
                color:$main-text_color;
                font-size: 20px;
                padding-left: 15px;
            }
        
        }

        .m-head-main_title{
           display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;
           margin-top:150px;
            .m-head_title{
                text-align: center;
                font-size: 80px;
                letter-spacing: 5px;
                font-family: 'BebasNeueBold'; 
                width:100%;
                text-transform: uppercase;
                color:$main-text_color;
                margin-bottom: 20px;
            }
            .m-head_subtitle{
                text-align: center;
                font-size: 20px;
                width:36%;
                color:$main-text_color;
            }
        }
   .m-head_button{
       margin-top:80px;
       @include button_style();
       img{
           padding-right: 20px;
       }

   }

}